table{
    width: 300px;
    height: auto;
}

.titulos{
    font-weight: bold;
    font-size: 16px;
}



.costo {
    color: green;
}

img{
    height: 200px;
    width: 250;
}
mat-card-content{
    height: 100px;
    
}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 200px;
}

mat-card{
  
  margin-right: 20px;
}

